@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
a{
  color:black !important;
}
.brand-logo,h2{
  font-family: 'Pacifico', cursive;
  font-size: 28px !important;
  margin : 5px;
}
.mycard{
  margin-top: 50px;
  
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image{
  margin-top: 20px;
  width: 30%;
}
.home-card{
  max-width: 600px;
  margin: 26px auto;
  height: max-content;
}
.input-field{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  
}
#toast-container{
  top:30px;
  right:100px;
  left: auto;
  min-width: 150px;;
}